.c-bmc {
  display: inline-block;
  width: 84px;
  height: 84px;
}

.c-bmc__img {
  animation: jiggle 8s infinite ease-in-out;
  width: 100%;
  height: 100%;
}

@keyframes jiggle {
  0%,
  88%,
  92%,
  96%,
  100% {
    transform: rotate(-2deg);
  }
  90%,
  94%,
  98% {
    transform: rotate(6deg);
  }
}
