.c-url-item {
  display: grid;
  grid-template-columns: 1fr auto;
}

input {
  width: 100%;
  padding: calc(var(--p-3) + 2px) calc(var(--p-4) + 2px);
  border-radius: var(--br-2) 0 0 var(--br-2);
  border-style: solid;
  border-width: 1px;
  outline: none;
}

button {
  height: 100%;
  border-radius: 0 var(--br-2) var(--br-2) 0;
}

input:focus,
input:invalid {
  padding: var(--p-3) var(--p-4);
  border-width: 3px;
}

input:focus {
  border-color: var(--primary-light);
}

input:invalid {
  border-color: var(--error-color);
}
