@import '../../common/styles/_reset.css';

.l-settings {
  max-width: 680px;
  margin-inline: auto;
  padding: var(--p-8);
  container-type: inline-size;
}

.l-settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-settings-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--p-8);

  margin-block: var(--p-8);
  margin-bottom: var(--p-16);
}

.l-settings-section__title {
  font-weight: 600;
}

.l-settings-section__body-list {
  display: inline-flex;
  flex-direction: column;
  gap: var(--p-4);
}

.l-settings-section__body-list button {
  align-self: center;
}

.l-settings-bmc {
  text-align: center;
}

@container (width > 440px) {
  .l-settings-section {
    grid-template-columns: auto 1fr;
  }

  .l-settings-bmc {
    text-align: right;
  }

}
